@font-face {
  font-family: 'Northwood High';
  src: url('fonts/Northwood High.ttf');
}

body {
  background: #FAFAFA;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#title {
  text-align: center;
  height: 15vh;
  font-family: 'Northwood High';
  font-size: 5vh;
}

#title h1 {
  margin: 0;
  line-height: 15vh;
}


/*MENU FILTRES*/

#menu {

}

#filters {
  background: #454545;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 5vh;
}

#filters li {
  display: inline;
  list-style: none;
}

#filters p {
  margin: 0;
  padding: 0 2vh;
  line-height: 5vh;
  display: inline-block;
  color: #FAFAFA;
  font-size: 2vh;
  cursor: pointer;
}

#filters :hover p {
  background: #656565;
}

/*WRAPPER*/

#wrapper {
  display: flex;
}

/*MAP*/
/* flex : https://stackoverflow.com/questions/17217766/two-divs-side-by-side-fluid-display */

#map {
  margin-top: 4vh;
  margin-left: 2vw;
  flex: 0 0 65%;
}

#map>* {
  background: #7AC9D6;
  border: 0.2vw solid #454545;
  border-radius: 2vw;
}

/*NEWS LIST*/

#newsFrame {
  margin-top: 4vh;
  border: 0.2vw solid #454545;
  border-radius: 2vw;
  flex: 1;

}

#newsList {
  list-style-type: none;
  padding: 0.5vw;
  margin : 0;
}

.article {
  padding: 0.3vw;
  padding-bottom: 0.1vw;
  border: 0.2vw solid black;
  margin: 0.2vw;
  background: #454545;
  color: #FAFAFA;

}

/*FOOTER*/

#footer {
  background: #454545;
  margin-top: 80vh;
  padding-top: 4vh;
  text-align: center;
  height: 15vh;
}

#footer a {
  line-height: 4vh;
  color: #BABABA;
  font-size: 1.8vh;
  text-decoration: none;
}
