@font-face {
  font-family: 'Northwood High';
  src: url('fonts/Northwood High.ttf');
}

body {
  /*background: #FAFAFA;*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body::after {
  background: url("images/wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.2;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#title {
  text-align: center;
  height: 15vh;
  font-family: 'Northwood High';
  font-size: 5vh;
}

#title h1 {
  margin: 0;
  line-height: 15vh;
}

/*MENU*/

#menu {

}

/*MENU PAGES*/

#pages {
  background: #454545;
  margin: 0;
  padding: 0;
  padding-left: 1vw;
  text-align: left;
  height: 5vh;
  float: left;
}

#pages li {
  display: inline;
  list-style: none;
}

#pages :hover img{
  background: #656565;
}

#pages img {
  width: 5vh;
}

/*MENU FILTRES*/

#filters {
  background: #454545;
  margin: 0;
  margin-left: 0vw;
  padding: 0;
  padding-left: 0vw;
  text-align: center;
  height: 5vh;
}

#filters li {
  display: inline;
  list-style: none;
}

#filters p {
  margin: 0;
  padding: 0 2vh;
  line-height: 5vh;
  display: inline-block;
  color: #FAFAFA;
  font-size: 2vh;
  cursor: pointer;
}

#filters :hover p {
  background: #656565;
}


/*MAP*/

#map {
  margin-top: 4vh;
  margin-left: 2vw;
}

#map>* {
  background: #7AC9D6;
  border: 0.2vw solid #454545;
  border-radius: 2vw;
}

/*NEWS LIST*/

#newsFrame {
  margin-left: 64vw;
  width: 33.6vw;
  float: left;
}

#infoCountry {
  margin-top: 1vh;
  margin-bottom: 4vh;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}

#newsList {
  margin : 0;
  padding: 0;
  height: 61vh;
  overflow-y: auto;
  list-style-type: none;
}

.article {
  margin-bottom: 0.5vw;
  padding: 0.3vw;
  padding-bottom: 0.1vw;
  border: 0.2vw solid black;
  background: #454545;
  color: #FAFAFA;
}

/*FOOTER*/

#footer {
  background: #454545;
  margin-top: 80vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

#footer a {
  line-height: 4vh;
  color: #BABABA;
  font-size: 1.8vh;
  text-decoration: none;
}
