<!--<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta charset='utf-8'/>
    <link rel='stylesheet' href='styles/404.css'/>
    <title>NewsMap - 404</title>
  </head>
  <body>
    <div>
      <p class='url'>Alors malheureusement,<br />{{ url }}<br />n'existe pas...</p>
      <p>Seriez-vous perdu ? Chercheriez-vous ceci ?</p>
      <button>Accueil</button>
    </div>
    <script>
      document.querySelector('button').addEventListener('click', function(e) { window.location = '/' });
    </script>
  </body>
</html>-->

<!doctype html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - 404</title>
    <link rel='stylesheet' href='styles/common.css'>
    <link rel='stylesheet' href='styles/404.css'>
  </head>

  <body>
    {% include 'header.html' %}

    <div id='content'>
      <div class='left'>
        <p>
          Que faites-vous là ?<br />
          Cette adresse n'est pourtant sur aucune carte.
        </p>
        <p>
          Cliquez sur la boussole en haut de la page pour retrouver votre chemin.
        </p>
      </div>
      <div class='right'>
        <h2>404</h2>
      </div>
    </div>

    {% include 'footer.html' %}

    <div id='color'></div>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
  </body>

</html>
