<!DOCTYPE html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - Qui sommes-nous?</title>
    <link rel='stylesheet' href='/styles/common.css'>
    <link rel='stylesheet' href='/styles/aboutus.css'>
    <script type='text/javascript' src='/scripts/jquery-3.2.1.min.js'></script>
  </head>

  <body>
    {% include 'header.html' %}

    <div id='content'>
      <div class='left'>
        <h2>Le projet</h2>
        <p>
          Ce site à été développé dans le cadre du cours sur le web sémantique à l'UQAC (Université du Québec à Chicoutimi) en 2017.
          Le but était de concevoir un site web dynamique puis d'y ajouter des éléments de web sémantique.
        </p>
        <p>
          Nous avons choisi de développer un site de news avec un menu déguisé sous forme de carte du monde.
          Les articles viennent quand à eux de nombreux autres sites.
        </p>

        <span id="equipe">
          <h2>L'équipe</h2>
          <h3>NegOrigin</h3>
          <p>
            Aime le nutella et les peluches.
          </p>

          <h3>Raf</h3>
          <p>
            Déteste les champignons (traumatisme d'enfance).
          </p>

          <h3>Moi</h3>
          <p>
            Aime les moutons et les grasses matinées.
          </p>
        </span>

      </div>
      <div class='right' id='avatar'>
        <img src="/images/avatar/nounours.png" alt="nounours">
        <img src="/images/avatar/champignon.png" alt="champignon">
        <img src="/images/avatar/mouton.png" alt="mouton">
      </div>
    </div>


    {% include 'footer.html' %}

    <div id='color'></div>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
  </body>

</html>
