<!DOCTYPE html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - Bienvenue</title>
    <link rel='stylesheet' href='/styles/common.css'>
    <link rel='stylesheet' href='/styles/bienvenue.css'>
    <script type='text/javascript' src='/scripts/jquery-3.2.1.min.js'></script>
  </head>

  <body>
    {% include 'header.html' %}

    <div id='content'>
      <div class='left'>
        <h2>Bienvenu sur NewsMap !</h2>
        <p>
          Ici, vous pourrez vous renseigner sur ce qu'il se passe dans le monde.<br />
          Notre site vous propose de parcourir l'actualité d'une manière amusante et ludique !
        </p>
        <p>
          Vous incarnerez un voyageur qui se déplace de pays en pays sur la carte du monde.<br />
          Pour cela c'est très simple, utilisez les flèches directionnelles, ZQSD ou WASD pour voyager.<br />
          Lorsqu'il arrive sur un pays, son nom apparait alors à droite de la carte, et juste en dessous du nom, vous pourrez choisir parmis une liste d'articles qui concernent ce pays !
        </p>
        <p>
          Si certains types d'article ne vous intéressent pas, pas d'inquiétude !<br />
          Vous pouvez filtrer le contenu des articles avec les boutons en haut de la page.<br />
          Votre choix sera même conservé pour votre prochaine visite.
        </p>
        <p>
          Il ne vous reste maintenant plus qu'à voyager, en cliquant sur l'icone de la boussole en haut de la page.
        </p>
        <h3>Bonne visite !</h3>
        <input id='directMap' type='checkbox' name='directMap' {% if skipBienvenue == 'true' %}checked{% endif %}>
        <label id='choix' for='directMap'>Je veux commencer directement sur la carte la prochaine fois.</label>

        <div id='toast'>
          Votre choix à bien été pris en compte
        </div>
      </div>
      <div class='right' id='screenshot'>
        <img src="/images/screenshot/character.png" alt="voyageur" id="SScharacter"> 
        <img src="/images/screenshot/map.png" alt="carte" id="SSmap">
        <img src="/images/screenshot/filter.jpg" alt="filtres" id="SSfilter">
      </div>
    </div>

    

    {% include 'footer.html' %}

    <div id='color'></div>

    <script>
      document.getElementById('directMap').addEventListener('change', function() {
        if(directMap.checked)
          setCookie('skipBienvenue', true, 365*2);
        else
          setCookie('skipBienvenue', false, 365*2);
        $('#toast').fadeIn(500).delay(2000).fadeOut(1000);
      });
    </script>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
  </body>

</html>
