<div class='left' id='title'>
  <h1>NewsMap</h1>
</div>

<div id='menu'>
  <ul>
    <li><a href='/bienvenue'><img src='/images/iconHome.png' alt='Accueil'>""</a></li>
    <li><a href='/map'><img src='/images/iconCompass.png' alt='Carte du monde'>""</a></li>
    <li class='filters' id='filterPolitique'>Politique</li>
    <li class='filters' id='filterSport'>Sport</li>
    <li class='filters' id='filterSciences'>Sciences</li>
    <li class='filters' id='filterEconomie'>Economie</li>
  </ul>
</div>
