<!doctype html>
<html lang='fr'>

    <head>
        <meta charset='utf-8'>
        <title>NewsMap - Map</title>
        <link rel='stylesheet' href='styles/common.css'>
        <link rel='stylesheet' href='styles/map.css'>
        <script src='/scripts/pixi.min.js'></script>
    </head>

    <body>
        <div id='title'>
            <div class='left'>
                <h1>NewsMap</h1>
            </div>
        </div>

        <div id='menu'>
            <div class='left'>
                <ul id='pages'>
                    <li><a href='/bienvenue'><img src='/images/iconHome.png' alt='Accueil'></a></li>
                    <li><a href='/map'><img src='/images/iconCompass.png' alt='Carte du monde'></a></li>
                    <li><img id="categories" alt="categories" src="../images/menu70.png"/>
                        <ul id='filters'>
                            <li id='filterPolitique'>Politique</li>
                            <li id='filterSport'>Sport</li>
                            <li id='filterSciences'>Sciences</li>
                            <li id='filterEconomie'>Economie</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class='right'>
            </div>
        </div>

        <div id='content'>
            <div id='map'></div>

            <div id='newsFrame'>
                <p id='infoCountry'></p>
                <ul id='newsList'></ul>
            </div>
        </div>

        <div id='footer'>
            <div class='left'>
                <a href='#'>Qui sommes-nous ?</a>
                <a href='/reference'>Réferences</a>
                <a href='#'>Nous contacter</a>
            </div>
        </div>

        <div id='color'></div>

        <script type='text/javascript' src='/scripts/cookies.js'></script>
        <script type='text/javascript' src='/scripts/map.js'></script>
        <script type='text/javascript' src='/scripts/filters.js'></script>
        <script type='text/javascript' src='/scripts/articles.js'></script>
        <script src="../scripts/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#categories').click(function(){
                    $('#filters').slideToggle(1000);
                });
            });
        </script>
    </body>

</html>
