<!doctype html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - Map</title>
    <link rel='stylesheet' href='styles/common.css'>
    <link rel='stylesheet' href='styles/map.css'>
    <script type='text/javascript' src='/scripts/pixi.min.js'></script>
  </head>

  <body>
    {% include 'header.html' %}

    <div id='content'>
      <div id='map'></div>

      <div id='newsFrame'>
        <p id='infoCountry'></p>
        <ul id='newsList'></ul>
      </div>
    </div>

    {% include 'footer.html' %}

    <div id='color'></div>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/map.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
    <script type='text/javascript' src='/scripts/articles.js'></script>
  </body>

</html>
