<!DOCTYPE html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - References</title>
    <link rel='stylesheet' href='/styles/common.css'>
    <link rel='stylesheet' href='/styles/reference.css'>
  </head>

  <body>
    <div id='title'>
      <h1>NewsMap</h1>
    </div>

    <div id='menu'>
      <ul id='pages'>
        <li><a href='/bienvenue'><img src='/images/iconHome.png' alt='Accueil'></a></li>
        <li><a href='/map'><img src='/images/iconCompass.png' alt='Carte du monde'></a></li>
      </ul>

      <ul id='filters'>
        <li><p id='filterPolitique'>Politique</p></li>
        <li><p id='filterSport'>Sport</p></li>
        <li><p id='filterSciences'>Sciences</p></li>
        <li><p id='filterEconomie'>Economie</p></li>
      </ul>
    </div>

    <div id='reference'>
      <div class='left'>
        <p>France</p>  
        <p>Canada</p>
        <p>États-Unis</p>
        <p>Royaume-Uni</p>
        <p>Allemagne</p>
      </div>

      <div class='right'>
        <p>Le Monde</p>
        <p>CBC News Canada</p>
        <p>USA Today</p>
        <p>The Guardian</p>
        <p>Bild</p>
      </div>
    </div>

    <div id='footer'>
      <a href='#'>Qui sommes-nous ?</a>
      <a href='/reference'>Réferences</a>
      <a href='#'>Nous contacter</a>
    </div>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
  </body>

</html>