<!DOCTYPE html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - Bienvenue</title>
    <link rel='stylesheet' href='/styles/bienvenue.css'>
  </head>

  <body>
    <div id='title'>
      <h1>NewsMap</h1>
    </div>

    <div id='menu'>
      <ul id='pages'>
        <li><a href='/bienvenue'><img src='/images/iconHome.png' alt='Accueil'></a></li>
        <li><a href='/map'><img src='/images/iconCompass.png' alt='Carte du monde'></a></li>
      </ul>

      <ul id='filters'>
        <li><p id='filterPolitique'>Politique</p></li>
        <li><p id='filterSport'>Sport</p></li>
        <li><p id='filterSciences'>Sciences</p></li>
        <li><p id='filterEconomie'>Economie</p></li>
      </ul>
    </div>

    <div id='reference'>
      <h1>France</h1>
      <p>Le Monde</p>
      <h1>Canada</h1>
      <p>CBC News Canada</p>
      <h1>Étas-Unis</h1>
      <p>CBC News Canada</p>
      <h1>Royaume-Uni</h1>
      <p>CBC News Canada</p>
      <h1>Allemagne</h1>
      <p>CBC News Canada</p>
    </div>

    <div id='footer'>
      <a href='#'>Qui sommes-nous ?</a>
      <a href='/reference'>Réferences</a>
      <a href='#'>Nous contacter</a>
    </div>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
  </body>

</html>