<!DOCTYPE html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - References</title>
    <link rel='stylesheet' href='/styles/common.css'>
    <link rel='stylesheet' href='/styles/reference.css'>
  </head>

  <body>
    {% include 'header.html' %}

    <div id='content'>
      <div class='left'>
        <h2>Pays</h2>
        <p>France</p>
        <p>Canada</p>
        <p>États-Unis</p>
        <p>Royaume-Uni</p>
        <p>Allemagne</p>
      </div>

      <div class='right'>
        <h2>Source</h2>
        <p><a href="http://www.lemonde.fr/">Le Monde</a></p>
        <p><a href="http://www.cbc.ca/">CBC News Canada</a></p>
        <p><a href="https://www.usatoday.com/">USA Today</a></p>
        <p><a href="https://www.theguardian.com">The Guardian</p>
        <p><a href="http://www.bild.de">Bild</a></p>
      </div>
    </div>

    {% include 'footer.html' %}

    <div id='color'></div>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
  </body>

</html>
