<!DOCTYPE html>
<html lang='fr'>

  <head>
    <meta charset='utf-8'>
    <title>NewsMap - References</title>
    <link rel='stylesheet' href='/styles/common.css'>
    <link rel='stylesheet' href='/styles/reference.css'>
  </head>

  <body>
    <div id='title'>
      <div class='left'>
        <h1>NewsMap</h1>
      </div>
    </div>

    <div id='menu'>
      <div class='left'>
        <ul id='pages'>
          <li><a href='/bienvenue'><img src='/images/iconHome.png' alt='Accueil'></a></li>
          <li><a href='/map'><img src='/images/iconCompass.png' alt='Carte du monde'></a></li>
        </ul>
      </div>

      <div class='right'>
        <ul id='filters'>
          <li><p id='filterPolitique'>Politique</p></li>
          <li><p id='filterSport'>Sport</p></li>
          <li><p id='filterSciences'>Sciences</p></li>
          <li><p id='filterEconomie'>Economie</p></li>
        </ul>
      </div>
    </div>

    <div id='content'>
      <div id='reference'>
        <div class='left'>
          <h2>Pays</h2>
          <p>France</p>
          <p>Canada</p>
          <p>États-Unis</p>
          <p>Royaume-Uni</p>
          <p>Allemagne</p>
        </div>

        <div class='right'>
          <h2>Source</h2>
          <p><a href="http://www.lemonde.fr/">Le Monde</a></p>
          <p><a href="http://www.cbc.ca/">CBC News Canada</a></p>
          <p><a href="https://www.usatoday.com/">USA Today</a></p>
          <p><a href="https://www.theguardian.com">The Guardian</p>
          <p><a href="http://www.bild.de">Bild</a></p>
        </div>
      </div>
    </div>

    <div id='footer'>
      <div class='left'>
        <a href='#'>Qui sommes-nous ?</a>
        <a href='/reference'>Réferences</a>
        <a href='#'>Nous contacter</a>
      </div>
    </div>

    <div id="color"></div>

    <script type='text/javascript' src='/scripts/cookies.js'></script>
    <script type='text/javascript' src='/scripts/filters.js'></script>
  </body>

</html>
