body::after {
  background: url('/images/wallpaper404.jpg') no-repeat center center fixed;
}

#content {
  margin: 5vh 4vw;
  height: 60vh;
}

#content .left {
  width: 54vw;
}

#content h2 {
  font-size: 12vh;
}

#content p {
  text-align: left;
  font-size: 2vh;
}
