/*WELCOME PAGE*/

#content {
  margin: 5vh 4vw;
  height: 60vh;
}

#content .left {
  width: 54vw;
}

#content h2 {
  text-align: left;
  font-size: 3vh;
}

#content p {
  text-align: left;
  font-size: 2vh;
}

#content h3 {
  margin-top: 5vh;
  font-size: 2.5vh;
}

#content label {
  font-size: 2vh;
}

#toast {
  float: left;
  display: none;
  margin: auto;
  padding: 5px;
  background-color: #898d89;
  text-align: center;
  width: inherit;
  height: auto;
}

#screenshot #SScharacter {
  width: 4vw;
  padding-bottom: 2.5vw;
}

#screenshot #SSmap {
  width: 20vw;
  margin-left: 2vw;
}

#screenshot {
  margin-top: -47vh;
}
