/*MAP*/

#map {
  margin-top: 4vh;
  margin-left: 2vw;
}

#map>* {
  background: #7AC9D6;
  border: 0.2vw solid #454545;
  border-radius: 2vw;
}

/*NEWS LIST*/

#newsFrame {
  margin-left: 64vw;
  width: 33.6vw;
  float: left;
}

#infoCountry {
  margin-top: 1vh;
  margin-bottom: 4vh;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}

#newsList {
  margin : 0;
  padding: 0;
  height: 61vh;
  overflow-y: auto;
  list-style-type: none;
}

.article {
  margin-bottom: 0.5vw;
  padding: 0.3vw;
  padding-bottom: 0.1vw;
  border: 0.2vw solid black;
  background: #454545;
  color: #FAFAFA;
}

/*FOOTER*/

#footer {
  margin-top: 80vh;
}
